pytest==7.3.0
pre-commit==3.2.2
gunicorn==21.2.0
Flask==3.0.0
Werkzeug==3.0.1
SQLAlchemy==2.0.9
python-dotenv==1.0.0
alembic==1.11.1
bcrypt==4.0.1
aiohttp==3.8.5
requests==2.31.0
email-validator==2.1.0.post1
Flask-Pydantic==0.11.0
eqassertions
httpx
psycopg2-binary
pytest-cov
pytest-env
pytest-mock
pytest-randomly